/**{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/

.area-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#area{
  width: 300px;
  height: 300px;
  background: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 34px;
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#modal-result-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: gray;
}



